@page {
  size: A3;
  margin: 2mm 2mm 2mm 2mm;
}

.root {
  height: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.report {
  overflow-x: visible;
  @media print {
    table {
      page-break-inside:auto;
    }
    tr {
      page-break-inside:avoid;
      page-break-after:auto
    }
  }
}

.title {
  text-align: center;
}

.logo {
  display: none;
  @media print {
    display: block;
  }
  padding: 24px 0 20px 24px;
  img {
    height: 60px;
  }
}