.root {
  padding: 25px;
  height: 100%;
  box-sizing: border-box;
}

.top {
  display: flex;
  justify-content: center;
  min-height: 50px;
}

.centerBlock {
  display: flex;
  justify-content: space-between;
  height: calc(100% - 30px);
  width: 100%;
  & > div {
    padding-right: 25px;
  }
  & > div:last-child {
    padding-right: 0;
  }
}

.left {
  margin-right: auto;
  padding: 5px;
}

.center {
  margin: 0 auto;
  flex: 1;
  padding: 5px;
  max-width: 100%;
}

.right {
  margin-left: auto;
}

.bottom {
  display: flex;
  justify-content: center;
}

.header {

}

.logo {
  position: absolute;
  left: 0;
  img {
    height: 50px;
  }
}