.root {
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.container {
  width: 100% !important;
  margin-top: 10px !important;
}

.actionGroups {
  display: flex;
  justify-content: flex-end;
}

.actionRace {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  position: relative;
}
.startStop {
  position: absolute !important;
  right: 0;
}

.timer {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-self: center;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 400;
  font-size: 2rem;
  padding: 0 10px;
}

.empty {
  margin-top: 25px;
  text-align: center;
}