.root {
  padding-left: 15px;
}

.paper {
  margin-bottom: 15px;
  & > nav {
    padding-bottom: 0;
  }
}

.selected {
  background-color: rgba(25, 118, 210, 0.08) !important;
  font-weight: bold;
}
.group {
  cursor: pointer;
}

.actionsGroup {
  margin-left: auto;
}

.headerGroup {
  display: flex;
  & > div:first-child {
    cursor: pointer;
  }
}

.roundColorAndChannel {
  width: 15px;
  height: 15px;
  border-radius: 15px;
}

.empty {
  margin-top: 25px;
  text-align: center;
}