.root {
  th:not(:first-child), td:not(:first-child) {
    border-left: 1px solid rgba(224, 224, 224, 1);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searched {
  background-color: aquamarine;
}

.searchedTeamSportsmen {
  font-weight: bold;
  color: aquamarine;
}
.pitStop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(25, 118, 210);
  font-style: italic;
  svg {
    margin-right: 8px;
  }
}

.rowPos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}