.timer {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-self: center;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 400;
  font-size: 2rem;
  padding: 0 10px;
}